<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated configurator -->
      <package
            uri="http://itu.dk/smdp/configurator"
            class="dk.itu.smdp2015.church.model.configurator.ConfiguratorPackage"
            genModel="model/configurator.genmodel"/>
   </extension>

</plugin>
